<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FastFood</title>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jquery.validate.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../../image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../../css/admin.css" type="text/css" />


</head>

<body>



    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center header">
                <a href="/">
                    <p>
                        <span style="color:rgb(27, 177, 40)">Fresh</span>
                        <i>food</i>
                    </p>
                </a>
            </div>
        </div>
        <div class="row" id="menu">
            <h3 class="text-center">Admin
                <span>&nbsp;</span>
            </h3>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 task text-center .product">
                <a href="/admin">
                    <i>
                        <span>Products</span>
                    </i>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 task text-center .bill">
                <a href="/bill">
                    <i>
                        <span>Bill</span>
                    </i>
                </a>
            </div>
        </div>
        <div class="text-center">
            <a href="/them" class="btn" id="themsanpham">
                Thêm Sản Phẩm
            </a>
        </div>
        <div class="row tasks">
            <div class="<%=ma? 'col-xs-12 col-sm-3 col-md-3 col-lg-3':'them'%>">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <%=ten ? "Sửa Sản Phẩm":"Thêm Sản Phẩm"%>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <form action=<%=ten ? "/suaSP": "/themsanpham"%> method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Mã:</label>
                                <input type="text" class="form-control" placeholder="Nhap Mã" name="ma" value="<%=ma ? ma:" "%>" required <%=ten?
                                    "readonly": ""%> />
                            </div>

                            <div class="form-group">
                                <label>Tên :</label>
                                <input type="text" class="form-control" placeholder="Nhap Tên" name="ten" value="<%=ten ?ten:" "%>" required/>
                            </div>
                            <div class="form-group">
                                <label>Gia :</label>
                                <input type="number" class="form-control" placeholder="Nhap Gía" name="gia" value="<%=price?price:" "%>" required/>
                            </div>
                            <div className="form-group">
                                <label>Loại</label>
                                <select class="form-control" name="loai" value="<%=loai? loai:" " %>" required>
                                    <option value="PC2">Cơm Trưa</option>
                                    <option value="PC3">Nước Giải Khát</option>
                                    <option value="PC1">Sinh Tố</option>
                                    <option value="PC5">Trái Cây</option>
                                    <option value="PC4">Pizza</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Ảnh</label>
                                <input class="form-control" name="upload" type="file" accept=".jpg,.jpeg,.png" />
                            </div>
                            <div class="form-group">
                                <label>Mô Tả</label>
                                <input class="form-control rounded-0" rows="3" required name="mota" value="<%=mota?mota:" "%>">

                                </input>
                            </div>
                            <div class="text-center" style="margin-top:50px">
                                <button type="submit" class="btn btn-success">Luu Lai</button>
                                &nbsp;
                                <a class="btn btn-danger" href="/huybo">Huy Bo</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="<%=ma?'col-xs-12 col-sm-9 col-md-9 col-lg-9':'col-xs-12 col-sm-12 col-md-12 col-lg-12'%>">

                <!--table-->

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quản Lý Sản Phẩm</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row qlhd ">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center">
                                Sản Phẩm
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                Loại
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                Gía
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Hành Động
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="margin-top:10px">
                                <form action="/timsanpham" method="POST">
                                    <div class="input-group">
                                        <input type="text" name="key" class="form-control" placeholder="Search products name...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="glyphicon glyphicon-search">&nbsp;Search</i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center" style="margin-top:10px">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sap Xep
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/xepaz">
                                                <span class="glyphicon glyphicon-sort-by-alphabet">&nbsp;Tu A->Z
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/xepza">
                                                <span class="glyphicon glyphicon-sort-by-alphabet-alt">&nbsp;Tu Z->A
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--noi dung-->
                        <% data.Items.forEach((data,index)=> { %>
                            <hr/>
                            <div class="row dong1 " style="margin-top:10px">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 dong" ">
                                    <img src="<%= data.img %>" width="50%" />
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 dong">
                                    <%= data.ten%>,
                                        <%= data.Idprod%>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 dong">
                                    <%= data.IdprodC%>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 dong">
                                    <%= data.price%>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 dong">
                                    <a href="/suaSP/<%= data.Idprod%>/<%= data.IdprodC%>">
                                        <span class="glyphicon glyphicon-pencil" style="margin-top:10px;font-size: 20px;color:green"></span>
                                    </a>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    <a href='/xoaSP/<%= data.Idprod%>/<%= data.IdprodC%>' data-toggle="modal" data-target="#myModal1">
                                        <span class="glyphicon glyphicon-remove" style="margin-top:10px;font-size: 20px;color:orange"></span>
                                    </a>
                                </div>
                            </div>
                            <% }); %>

                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>







</body>

</html>